/* image 1 */
body {
    background-image: url("images/homebg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #E48397;
    margin-top: 200px;
    font-size: 30px;
    font-family: Roboto Slab;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.titletext {
    position: absolute;
    left: 22%;
    bottom: 29%;
    font-family: FinkHeavy;
    margin-right: 100px;
    width: 20rem;
    font-size: 2.4rem;
}

.hcenter {
    position: absolute;
    right: 50%;
    top: 0;
}

.sign {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    position: absolute;
    right: 0;
    top: 0;
}

.carttext {
    position: absolute;
    left: 32%;
    bottom: 18%;
    font-family: FinkHeavy;
    font-size: 1.4rem;
}