/* image 1 */
body {
    background-image: url("images/homebg.png");
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.navigation ul{ 
    margin: 0;
    padding: 0;
    text-align: left;
}

.navigation li{
    font-size: 30px;
    letter-spacing: 2px;
    padding: 1px;
}

.hcenter {
    position: relative;
    margin: auto;
}

#cartsign {
    height: 100%;
}

.fink {
    font-family: FinkHeavy;
}

.rsfont {
    font-family: Roboto Slab, Arial;
}

.bold {
    font-weight: bold;
}