/* image 1 */
body {
    background-image: url("images/pdetailbg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 200px;
    background-color: #E48397;
    margin-top: 200px;
    font-size: 30px;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: FinkHeavy;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.titletext {
    position: absolute;
    left: 22%;
    bottom: 29%;
    font-family: FinkHeavy;
    margin-right: 100px;
    width: 20rem;
    font-size: 2.4rem;
}

.ttformat{
    text-decoration: none;
}

.hcenter {
    position: absolute;
    right: 30%;
    top: 0;
}

.sign {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    position: absolute;
    right: 0;
    top: 0;
}

.carttext {
    position: absolute;
    left: 32%;
    bottom: 18%;
    font-family: FinkHeavy;
    font-size: 1.4rem;
}

.frontrect {
    /* Rectangle 20 */
    position: absolute;
    width: 1024px;
    height: 1103px;
    left: 334px;
    top: 344px;
    background: rgba(255, 238, 204, 0.95);
    border: 5px solid rgba(0, 0, 0, 0.62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}



.backrect {
    position: absolute;
    width: 1024px;
    height: 1103px;
    left: 350px;
    top: 360px;

    background: rgba(238, 238, 238, 0.95);
    border: 5px solid rgba(0, 0, 0, 0.62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.bottombar{
    position: absolute;
    display: block;
    width: 100%;
    height: 105px;
    top: 220%;

    background: #E8D6D6;
}

.address{
    position: absolute;
    top: 224%;
    left: 10%;
    font-family: Arial;
}

.socialstext{
    position: absolute;
    font-size: 20px;
    top: 227%;
    left: 60%;
    font-family: Arial;
}

#fb{
    position: absolute;
    top: 226%;
    left: 69%;
}

#tw{
    position: absolute;
    top: 225.5%;
    left: 73%;
}

#ig{
    position: absolute;
    top: 226%;
    left: 77%;
}

#yt{
    position: absolute;
    top: 226%;
    left: 81%;
}

#ordertitle {
    position: absolute;
    left: 804px;
    top: 327px;
    font-size: 52px;
    font-family: FinkHeavy;
}

.menubox {
    font-family: FinkHeavy;
    font-size: 25px;
    text-align: center;
}

.ttformat{
    text-decoration: none;
}

.homeback {
    position: absolute;
    width: 232px;
    height: 76px;
    left: 345px;
    top: 300px;

    background: #EA9898;
    border-radius: 13px;

}

.homebacktext {
    position: relative;
    font-family: FinkHeavy;
    font-size: 28px;
    text-align: center;
    top: 8px;
}

.new {
    position: relative;
    left: 420px;
    bottom: 59px;
}

.pick {
    position: absolute;
    right: 220px;
}

.flavor {
    top: 400px;
}

.glazing {
    top: 890px;
    right: 205px;
}

.buncount {
    top: 1000px;
    right: 220px;
}

.menubox h3 {
    position: relative;
    font-size: 36px;
}

.itemimage{
    position: absolute;
    width: 435px;
    height: 384px;
    left: 420px;
    top: 500px;
}

.vertdivide {
    position: absolute;
    bottom: -50px;
    left: 500px;
    border-left: thick solid #000000;
    height: 460px;
}

.horizdivide {
    border-top: thick solid #000000;
    width: 850px;
}

.glaze-bunsdivide {
    position: absolute;
    border-top: thick solid #000000;
    width: 850px;
    top: 1167px;
    right: 250px;
}

.buns-totaldivide {
    position: absolute;
    border-top: thick solid #000000;
    width: 850px;
    top: 1257px;
    right: 250px;
}

.descripttitle{
    position: relative;
    left : 480px;
    bottom: 500px;
    font-family: FinkHeavy;
    font-size: 30px;
}

.description{
    position: relative;
    left : 580px;
    bottom: 490px;
    font-family: Arial;
    font-size: 20px;
    text-align: left;
}

.nutrilabel {
    position: relative;
    left : 480px;
    bottom: 467px;
    font-family: FinkHeavy;
    font-size: 30px;
}

.nutriimg {
    position: absolute;
    width: 305px;
    height: 233px;
    left: 567px;
    top: 206px;
    border: 1px solid black;
}

.glazelabel {
    position: absolute;
    width: 200px;
    top: 1080px;
    height: 32px;

    background: #EA9898;
}

#noneglaze {
    left: 385px;
}

#sugarmilk {
    left: 615px;
}

#vanmilk {
    left: 845px;
}

#doubchoc {
    left: 1075px;
}

.buncountdd {
    position: absolute;
    top: 1200px;
    right: 600px;
}

.cancelblock {
    position: absolute;
    width: 214px;
    height: 44px;
    left: 772px;
    top: 1339px;

    background: #FCFCFC;
    border: 8px solid #EA9898;
    box-sizing: border-box;
}

.addtocartblock {
    position: absolute;
    width: 215px;
    height: 44px;
    left: 1038px;
    top: 1339px;

    background: #EA9898;
}

.addtocarttext {
    position: relative;
    top: 10px;
}

.ordertotal {
    position: absolute;
    top: 1349px;
    left: 420px;
    font-size: 28px;
}
